@charset "UTF-8";
.container{
	max-width:1000px;
	margin-top:15px;
}
h2{
	margin-bottom:20px;
	text-align:center;
}
.title{
	width:40px;
	text-align:center;
	font-size:15px;
}
.content{
	width:40px;
	text-align:center;
	font-size:21px;
	color:#c58aff;
	text-decoration: none;
}